__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Database
users.db
database.db
*.sqlite3

# OS binary files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.env