<!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id={{ ga_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ ga_id }}');
</script>

<!-- Google AdSense Account Verification & Ads Script -->
<meta name="google-adsense-account" content="ca-pub-1268674050644687">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1268674050644687" crossorigin="anonymous"></script>

